.main-Whatsapp {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background: #101010;
  width: 95%;
  height: 600px;
  border-radius: 20px;
  border: 1px solid #232323;
  margin-bottom: 10px;

  .nav-lateral {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    padding-left: 20px;
    height: 100%;
    width: 350px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    background: #101010;
    margin-right: -10px;

    .nav-top-w {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin: 20px 0px 5px 0px;

      h1 {
        font-family: "Montserrat";
        font-size: 15px;
        background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: -5px;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        background: #b9b9bb05;
      }
    }

    .search-main {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .search {
        position: relative;
        width: 100%;
        margin-top: 10px;
        height: 45px;
        border-radius: 15px;
        backdrop-filter: blur(2px);
        border: 1px solid #232323;
        background: #23232342;
        overflow: hidden;

        input {
          width: 100%;
          height: 45px;
          border: none;
          padding-left: 50px;
          border-radius: 15px;
          background: transparent;
          font-family: "Montserrat";
        }

        input:focus {
          border: none;
          outline: none;
        }

        .icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 50px;
        }
      }
    }

    .people-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: nowrap;
      scrollbar-width: thin;

      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 90px;
        cursor: pointer;
        margin-bottom: 5px;
        margin-top: 5px;
        border-bottom: 1px solid #232323;

        .people {
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 100%;

          .img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            border-radius: 100px;

            img {
              width: 100%;
              border-radius: 100px;
            }
          }

          .text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 50%;
            margin-left: 15px;

            h1 {
              color: #b9b9bb;
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 2px;
            }

            p.mesage {
              color: #b9b9bb;
              font-size: 12px;
              margin-top: 2px;
              white-space: nowrap;
              overflow: hidden;
              font-weight: 600;
              text-overflow: ellipsis;
              max-width: 100%;
            }
          }

          .oth {
            position: relative;
            top: -20px;
            left: 20px;

            p.time {
              color: #b9b9bb;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .people-mensages {
    display: flex;
    flex-direction: column;
    width: 81%;
    border-radius: 20px 0px;

    .nav-top-mesage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 80px;
      padding: 0px 10px;
      margin-left: 10px;
      padding-top: 10px;
      background: #101010;

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        h1 {
          color: #b9b9bb;
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 5px;
          margin-left: 10px;
        }

        .img {
          width: 40px;

          img {
            width: 100%;
            border-radius: 100px;
          }
        }
      }
    }

    .mensagens {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #0b0a0a;
      width: 100%;
      height: 100%;
      margin-left: 10px;
      border-radius: 30px 0px 0px 0px;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: nowrap;
      scrollbar-width: thin;

      .me {
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 10px;

        .msg {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 10px 20px 10px 15px;
          background: #1a4e74;
          border: 1px solid #232323d6;
          border-radius: 15px 15px 0px 15px;
          margin: 10px 0px;
          max-width: 300px;
          word-wrap: break-word;
          white-space: normal;

          img,
          video {
            width: 200px;
            border-radius: 2px;
            margin-left: 10px;
            margin-bottom: 10px;
          }

          p {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 5px;
            max-width: 300px;
            word-wrap: break-word;
            white-space: normal;
          }

          .time {
            position: absolute;
            bottom: -15px;
            right: 5px;

            h4 {
              color: #ffffff7a;
              font-size: 8px;
              margin-top: 2px;
              max-width: 160px;
              font-weight: 400;
            }
          }
        }
      }

      .you {
        display: flex;
        flex-direction: row;
        padding: 0px 10px;

        .msg {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 10px 20px 10px 15px;
          background: #33333354;
          border: 1px solid #232323d6;
          border-radius: 15px 15px 15px 0px;
          margin: 10px 0px;
          max-width: 300px;
          word-wrap: break-word;
          white-space: normal;

          img,
          video {
            width: 200px;
            border-radius: 2px;
            margin-left: 10px;
            margin-bottom: 10px;
          }

          p {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 5px;
            max-width: 300px;
            word-wrap: break-word;
            white-space: normal;
          }

          .time {
            position: absolute;
            bottom: -15px;
            left: 5px;

            h4 {
              color: #ffffff7a;
              font-size: 8px;
              margin-top: 2px;
              max-width: 160px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
