.text-main-aa {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;

  p {
    color: #b9b9bb;
    font-size: 11px;
    max-width: 700px;
    padding-left: 10px;
    border-left: 1px solid rgba(176, 176, 176, 0.527);
  }
}

.main-vnc {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin: 0px 20px;
  background: #161616;
  width: 95%;
  border-radius: 10px;
  border: 1px solid #232323;
  margin-bottom: 10px;

  .box-vnh {
    display: flex;
    flex-direction: row;
    width: 100%;

    .vnc-controls {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #232323;
      width: 400px;

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid #232323;

        h1 {
          margin-left: 15px;
          color: #b9b9bb;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .box-actions {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 15px;

        .warn {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          margin-bottom: 10px;

          h1 {
            font-family: "Montserrat";
            font-size: 12px;
            background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 10px;
          }
        }

        .funcs {
          display: flex;
          flex-wrap: wrap;
          margin-top: 20px;

          .action {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            height: 50px;
            cursor: pointer;
            border: 1px solid #232323;
            border-radius: 15px;
            background: #3333332e;
            margin: 5px;
            transition-duration: 0.15s;
            transition-property: color, background-color, border-color,
              text-decoration-color, fill, stroke, opacity, box-shadow,
              transform, filter, backdrop-filter, -webkit-backdrop-filter;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            p {
              margin-left: 10px;
              color: #b9b9bb;
              font-size: 13px;
            }
          }

          .action:hover,
          .action.a {
            background: linear-gradient(90deg, #10101023, #3d3d3d5b, #10101038);
          }
        }
      }
    }

    .vnc-view {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;

      .text {
        display: flex;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid #232323;

        h1 {
          margin-left: 45px;
          color: #b9b9bb;
          font-size: 20px;
          font-weight: 500;
          font-weight: 700;
        }
      }

      .vncs {
        display: flex;
        flex-direction: row;
        padding-left: 20px;

        .aphone {
          background: #10101065;
          width: 400px;
          height: 700px;
          margin: 20px 20px 20px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          p {
            position: absolute;
            z-index: 0;
            color: #b9b9bb;
            font-size: 11px;
            max-width: 300px;
            margin: 0px 20px;
          }

          canvas {
            z-index: 1;
          }
        }

        .camera {
          background: #10101065;
          width: 400px;
          height: 300px;
          margin: 20px 20px 0px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          p {
            color: #b9b9bb;
            font-size: 11px;
            max-width: 700px;
            margin: 0px 20px;
          }
        }
      }
    }
  }
}

/* RESPONSIVO */

@media (max-width: 1370px) {
  .main-vnc {
    margin-left: 15px;

    .box-vnh {
      .vnc-view {
        .vncs {
          flex-wrap: wrap;
        }

        .camera {
          margin: 20px 20px 0px 0px !important;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .main-vnc {
    .box-vnh {
      flex-direction: column;

      .vnc-controls {
        border-right: none;
        border-bottom: 1px solid #232323;
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 465px) {
  .main-vnc {
    .box-vnh {
      .vnc-view {
        .vncs {
          .aphone {
            canvas {
              width: 100%;
            }
          }
        }
      }
    }
  }
}