.nav-top-main {
  margin-left: -3px;
  border-bottom: 1px solid #232323d6;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 30px;

  .boxs-inform {
    display: flex;
    align-items: center;
    flex-direction: row;

    .box {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-right: 20px;

      border-right: 1px solid #232323d6;
      padding-right: 15px;

      h1 {
        margin-right: 20px;
        color: #b9b9bb;
        font-size: 12px;
        font-weight: 400;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }

      span {
        background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
    }
  }
}

.catery {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 5px;

  .text {
    display: flex;
    flex-direction: column;

    h1 {
      background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 10px;
    }

    p {
      color: #b9b9bb8f;
      font-size: 12px;
      font-weight: 400;
      max-width: 500px;
    }
  }

  .category {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 600px;
    height: 44px;
    border-radius: 20px;
    margin-top: 20px;
    background: #3333332e;
    border: 1px solid #23232386;
    overflow: hidden;

    .box-ca {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0px 20px;
      border-radius: 20px;
      color: #b9b9bb;
      font-size: 14px;
      font-weight: 500;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }

    .box-ca:hover {
      background: #3333332e;
    }

    .box-ca.a {
      background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
      color: #101010;
    }
  }
}

.MainAphone {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;

  .aphones {
    display: flex;
    flex-wrap: wrap;
    background: #3333332e;
    width: 100%;
    padding: 20px;
    border-radius: 20px;

    .aphone-box {
      position: relative;
      background: #101010;
      width: 300px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid #232323d6;
      cursor: pointer;
      margin: 5px 5px 5px 0px;

      .oth {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header {
          display: flex;
          flex-direction: column;
          margin: 30px;

          .content {
            display: flex;
            align-items: center;
            flex-direction: row;

            .state {
              background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
              border: 1px solid #33333399;
              padding: 0px 20px;
              height: 25px;
              margin-left: 10px;
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              p {
                color: #101010;
                font-size: 12px;
                font-weight: 500;
              }

              .pont {
                background: #101010;
                width: 10px;
                height: 10px;
                margin-right: 10px;
                border-radius: 100px;
              }
            }
          }

          .text {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 5px;
            margin-bottom: 10px;

            h1 {
              font-size: 12px;
              background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: bold;
              line-height: 1.3;

              span {
                font-weight: 400;
                font-size: 10px;
              }
            }
          }

          .box-inform {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 5px;

            h3 {
              color: #b9b9bb;
              font-size: 12px;
              font-weight: 600;
              margin-left: 10px;
            }
          }
        }

        .icon-header {
          position: absolute;
          top: 25px;
          right: 30px;
          height: 50px;
          cursor: pointer;
        }
      }

      .batery {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0px 20px;
        height: 35px;
        border-radius: 50px 0px 20px 00px;
        background: #3333331a;
        border-top: 1px solid #33333399;
        border-left: 1px solid #33333399;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          font-family: "Montserrat";
          font-size: 15px;
          background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-left: 5px;
        }
      }
    }
  }
}

/* RESPONSIVIDADE */

@media (max-width: 900px) {
  .catery {
    .category {
      width: 97%;
      overflow-x: auto;
    }
    .text {
      p {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 685px) {
  .nav-top-main {
    height: 20%;

    .boxs-inform {
      flex-wrap: wrap;
      margin-top: 20px;

      .box {
        margin-bottom: 20px;
      }
    }
  }
}
