.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 98%;
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  z-index: 2;

  .fst-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background: #b9b9bb;
      border: 1px solid #232323d6;
      border-radius: 15px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-icon:hover {
      opacity: 0.7;
    }

    h1.titl {
      margin-left: 10px;
      margin-left: 15px;
      color: #b9b9bb;
      font-size: 14px;
      font-weight: 500;

      span {
        font-weight: bold;
      }
    }
  }

  .second-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;

    .s1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 20px;

      .bx {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0px 15px;
        border-radius: 12px;
        border: 1px solid #333333b4;
        background: linear-gradient(90deg, #10101052, #3d3d3d5b, #101010);

        p {
          background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }

    .s2 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #333333b4;
      padding: 0px 20px;

      .box-aew {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0px 15px;
        border-radius: 12px;
        transition-duration: 0.15s;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform,
          filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

        .p-d {
          margin-left: 15px;
          color: #b9b9bb;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .box-aew:hover {
        background: #333333a2;
      }

      .download-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0px 15px;
        border-radius: 12px;
        transition-duration: 0.15s;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform,
          filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        margin-left: 10px;

        p.p-d {
          margin-left: 15px;
          color: #b9b9bb;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .download-box:hover {
        background: #333333a2;
      }
    }

    .s3 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #333333b4;
      padding: 0px 20px;

      .profile {
        width: 35px;
        height: 35px;
        border-radius: 20px;

        img {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
}

.main-nav {
  position: fixed;
  top: 36px;
  left: -12px;
  height: 99%;
  width: 275px;
  background: #101010;
  display: flex;
  flex-direction: column;
  z-index: 99;
  border: 1px solid #33333300;
  overflow: hidden;
  border: 1px solid #33333370;
  border-radius: 0 40px 40px 0;
  transform: scale(0.93);

  .logo {
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
    padding: 50px 0px;
    width: 90%;
    margin-left: 15px;
    margin-bottom: -25px;
    border-bottom: 1px solid #232323d6;

    .text-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 10px;

      h1 {
        font-family: "Montserrat";
        font-size: 30px;
        background: linear-gradient(90deg, #b0b0b0, #fff, #b0b0b0);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    .box-arrow {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 85%;
      margin-left: 5px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      .boxMain-arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: relative;
        left: -4px;
        padding: 0px 15px;
        height: 45px;
        margin-top: 10px;
        transition-duration: 0.15s;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform,
          filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 20px;
        cursor: pointer;

        .content {
          display: flex;
          justify-content: center;
          flex-direction: row;

          p {
            margin-left: 15px;
            color: #b9b9bb;
            font-size: 14px;
          }
        }
      }

      .boxMain-arrow:hover {
        background: #33333363;
      }

      .boxs {
        display: flex;
        flex-direction: column;
        width: 92%;
        margin-left: 15px;
        margin-top: 15px;

        .box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 10px;
          height: 36px;
          border-radius: 15px;
          margin-bottom: 5px;
          transition-duration: 0.15s;
          transition-property: color, background-color, border-color,
            text-decoration-color, fill, stroke, opacity, box-shadow, transform,
            filter, backdrop-filter, -webkit-backdrop-filter;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;

          p {
            margin-left: 15px;
            color: #b9b9bb;
            font-size: 14px;
          }

          .num {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #3339;
            padding: 0px 10px;
            border-radius: 100px;
            height: 20px;
            font-size: 12px;
          }
        }

        .box:hover {
          background: #33333363;
        }

        .box.a {
          background: linear-gradient(90deg, #10101052, #3d3d3d5b, #101010);
          border: 1px solid #33333399;
          box-shadow: #00000080 4px 4px 12px;

          p {
            color: #fff;
          }
        }
      }
    }

    .box-oth {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: -4px;
      width: 90%;
      height: 45px;
      padding-left: 15px;
      margin-left: 5px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 20px;
      margin-top: 5px;
      cursor: pointer;

      .boxMain-arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .content {
          display: flex;
          justify-content: center;
          flex-direction: row;

          p {
            margin-left: 15px;
            color: #b9b9bb;
            font-size: 14px;
          }
        }
      }
    }

    .box-oth:hover {
      background: #33333363;
    }

    .box-oth-d {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: 0.5px;
      width: 90%;
      height: 45px;
      padding-left: 15px;
      margin-left: 5px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 20px;
      margin-top: 5px;
      cursor: pointer;

      .boxMain-arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .content {
          display: flex;
          justify-content: center;
          flex-direction: row;

          .icon {
            padding: 0px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 6px;
          }

          p {
            margin-left: 15px;
            color: #b9b9bb;
            font-size: 14px;
          }
        }
      }
    }

    .box-oth-d.a {
      background: linear-gradient(90deg, #10101052, #3d3d3d5b, #101010);
      border: 1px solid #33333399;
      box-shadow: #00000080 4px 4px 12px;
    }

    .box-oth-d:hover {
      background: #33333363;
    }
  }

  .nav-items-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #232323d6;
    border-bottom: 1px solid #232323d6;

    .category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 80%;
      margin: 5px 0px;

      p {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        margin-left: -10px;
        margin-top: 10px;
        margin-bottom: 20px;

        span {
          font-weight: bold;
        }
      }
    }

    .main0oth {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 95%;
      background: #3333331a;
      padding: 5px 10px;
      border-radius: 20px;

      .box-oth {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: -5px;
        left: -4px;
        width: 100%;
        height: 45px;
        padding-left: 15px;
        margin-left: 5px;
        transition-duration: 0.15s;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform,
          filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 20px;
        margin-top: 15px;
        cursor: pointer;

        .boxMain-arrow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          .content {
            display: flex;
            justify-content: center;
            flex-direction: row;

            p {
              margin-left: 15px;
              color: #b9b9bb;
              font-size: 14px;
            }
          }
        }
      }

      .box-oth:hover {
        background: #33333363;
      }
    }
  }

  .bottom-fixed {
    margin-top: 35px;
    width: 90%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .profile {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 90px;
      border-radius: 20px;
      overflow: hidden;
      z-index: 10;

      .blur {
        position: absolute;
        z-index: -1;
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      .undo {
        position: absolute;
        z-index: -2;
        border-radius: 20px;
        opacity: 0.3;
      }

      .img {
        width: 60px;

        img {
          width: 100%;
          border-radius: 100px;
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        h1 {
          font-weight: 700;
          color: #b9b9bb;
          font-size: 14px;
          font-family: "Montserrat";
          margin-left: 13px;
        }

        p {
          margin-left: 13px;
          color: #b9b9bb;
          font-size: 10px;
          font-family: "Montserrat";
        }
      }
    }

    .box-oth {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: -4px;
      width: 100%;
      height: 50px;
      padding-left: 15px;
      margin-left: 5px;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 20px;
      margin-top: 15px;
      margin-bottom: 10px;
      cursor: pointer;

      .boxMain-arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .content {
          display: flex;
          justify-content: center;
          flex-direction: row;

          p {
            font-weight: 600;
            margin-left: 10px;
            color: #b9b9bb;
            font-size: 14px;
            font-family: "Montserrat";
          }
        }

        h3 {
          color: #b9b9bb87;
          font-size: 12px;
          font-weight: 400;
          margin-right: 15px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }

    .box-oth:hover {
      background: #33333363;
    }
  }
}

.main-nav::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 0 40px 40px 0;
  background: linear-gradient(45deg, #101010, #1f1f1f);
  z-index: -2;
  opacity: 0.2;
}

.main-nav:hover,
.main-nav:focus-within {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav::-webkit-scrollbar {
  height: 8px;
}

.main-nav::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.main-nav::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.render-nav {
  display: flex;
  flex-direction: column;
  margin-left: 255px;
  margin-top: 70px;
  overflow: hidden;
  width: 100%;
  transition: margin-left 0.3s ease;
  /* border-radius: 20px 0px 0px 0px;
    border-left: 1px solid #333333b4;
    border-top: 1px solid #333333b4; */
  /* background: linear-gradient(45deg, #101010, #1f1f1f);
  /* background: linear-gradient(45deg, #101010, #1f1f1f); */

  .b-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  .b-effect:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.2) 1px,
          transparent 1px
        )
        0 0,
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px)
        0 0;

    background-size: 25px 25px;
    background-position: 0 0, 0 0;
    z-index: 1;
    opacity: 0.1;
  }
}

/* RESPONSIVO */

@media (max-width: 950px) {
  .main-nav,
  .main-nav:focus-within {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    white-space: nowrap;
    scrollbar-width: thin;
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-backdrop-filter;
  }
}

@media (max-width: 700px) {
  .nav-top {
    .second-content {
      .s2 {
        .box-aew {
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .render-nav.a {
    margin-left: 0px !important;
  }
}

@media (max-width: 570px) {
  .nav-top {
    .second-content {
      .s2 {
        display: none !important;
      }
    }
  }
}

@media (max-width: 550px) {
  .main-nav {
    display: none !important;
  }

  .main-nav.a {
    display: flex !important;
  }

  .render-nav.a {
    position: relative;

    .blur {
      position: absolute;
      left: 0;
      top: 0;
      backdrop-filter: blur(20px);
      width: 100%;
      height: 100%;
      display: flex !important;
      transition-duration: 0.15s;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .render-nav {
    display: flex !important;
    margin-left: 0px !important;

    .blur {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .nav-top {
    .second-content {
      .s1 {
        display: none !important;
      }
    }
  }
}
